html {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #302d35;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  font-size: 1.2rem;
}

.form-row input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #444;
  color: #eee;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #462599;
  color: #eee;
  cursor: pointer;
}

.btn:hover {
  background-color: #563d7c;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #444;
}

.list li label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.list li label input {
  margin-right: 10px;
}

.list li button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #9b0079;
  color: #eee;
  cursor: pointer;
}

.list li button:hover {
  background-color: #c44569;
}
